<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Great Quotes!</title>
    <link rel="stylesheet" href="css\login.css" media="screen" />
    <link rel="stylesheet" href="css\nicepage.css" media="screen" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/057979aec3.js"
      crossorigin="anonymous"
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="js/jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="js/nicepage.js"
      defer=""
    ></script>
  </head>
  <body
    class="u-body u-xl-mode"
    data-style="login-template-1"
    data-posts=""
    data-global-section-properties='{"code":"LOGIN","colorings":{"light":["clean","clean"],"colored":["clean","clean","clean"],"dark":["clean","clean","clean"]},"isPreset":true}'
    data-source="fix"
    data-lang="en"
    data-page-sections-style='[{"name":"login-form-1","margin":"both","repeat":false}]'
    data-page-coloring-types='{"light":["clean","clean"],"colored":["clean","clean","clean"],"dark":["clean","clean","clean"]}'
    data-page-category='"Login"'
  >
    <header>
      <nav class="navbar bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html"
            ><i class="fa-solid fa-pen-ruler"></i> Great Quotes!</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                <i class="fa-solid fa-pen-ruler"></i> Great Quotes! Project
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="index.html"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="log-in.html">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sign-Up.html">Signup</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section
      class="u-align-center u-clearfix u-block-4b94-1 u-section-1"
      custom-posts-hash="T"
      data-section-properties='{"margin":"both","stretch":true}'
      data-id="4b94"
      data-style="login-form-1"
      id="sec-0baa"
      data-image-width="1280"
      data-image-height="848"
    >
      <div class="u-clearfix u-sheet u-block-4b94-2">
        <div class="u-form u-login-control u-block-4b94-24">
          <form
            action="#"
            method="POST"
            class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
            source="custom"
            name="form"
            style="padding: 10px"
          >
            <div class="u-form-group u-form-name u-block-4b94-25">
              <label for="username-a30d" class="u-label u-block-4b94-26"
                >Username *</label
              >
              <input
                type="text"
                placeholder="Enter your Username"
                id="username-a30d"
                name="username"
                class="u-border-grey-30 u-input u-input-rectangle u-block-4b94-27"
                required=""
              />
            </div>
            <div class="u-form-group u-form-password u-block-4b94-28">
              <label for="password-a30d" class="u-label u-block-4b94-29"
                >Password *</label
              >
              <input
                type="text"
                placeholder="Enter your Password"
                id="password-a30d"
                name="password"
                class="u-border-grey-30 u-input u-input-rectangle u-block-4b94-30"
                required=""
              />
            </div>
            <div class="u-form-checkbox u-form-group u-block-4b94-31">
              <input
                type="checkbox"
                id="checkbox-a30d"
                name="remember"
                value="On"
              />
              <label for="checkbox-a30d" class="u-label u-block-4b94-32"
                >Remember me</label
              >
            </div>
            <div
              class="u-align-left u-form-group u-form-submit u-block-4b94-33"
            >
              <a
                href="#"
                class="u-btn u-btn-submit u-button-style u-block-4b94-34"
                >Login</a
              >
              <input
                type="submit"
                value="submit"
                class="u-form-control-hidden"
              />
            </div>
            <input type="hidden" value="" name="recaptchaResponse" />
          </form>
        </div>
      </div>
    </section>
    <footer
      class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
      id="sec-5cf2"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">
          CIT 483 Great Quotes Project
        </p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
