 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("https://images.unsplash.com/photo-1635424239131-32dc44986b56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  padding-top: 100px;
  min-height: 500px;
}

.u-section-1 .u-table-1 {
  margin: 100px auto 0 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 13px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
}