.u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("https://images.unsplash.com/photo-1635424239131-32dc44986b56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: 50% 50%;
}
@media (min-width: 1200px) {
  .u-block-4b94-2 {
    min-height: 493px;
  }
  .u-block-4b94-24 {
    width: 570px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-4b94-27 {
    background-image: none;
  }
  .u-block-4b94-30 {
    background-image: none;
  }
  .u-block-4b94-34 {
    width: 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .u-block-4b94-21 {
    border-style: solid;
    align-self: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4b94-23 {
    border-style: solid;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-4b94-2 {
    min-height: 493px;
  }
  .u-block-4b94-24 {
    width: 570px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-4b94-27 {
    background-image: none;
  }
  .u-block-4b94-30 {
    background-image: none;
  }
  .u-block-4b94-34 {
    width: 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .u-block-4b94-21 {
    border-style: solid;
    align-self: center;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 185px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4b94-23 {
    border-style: solid;
    margin-top: 30px;
    margin-right: 185px;
    margin-bottom: 60px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .u-block-4b94-2 {
    min-height: 493px;
  }
  .u-block-4b94-24 {
    width: 570px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-4b94-27 {
    background-image: none;
  }
  .u-block-4b94-30 {
    background-image: none;
  }
  .u-block-4b94-34 {
    width: 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .u-block-4b94-21 {
    border-style: solid;
    align-self: center;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 75px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4b94-23 {
    border-style: solid;
    margin-top: 30px;
    margin-right: 75px;
    margin-bottom: 60px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .u-block-4b94-2 {
    min-height: 493px;
  }
  .u-block-4b94-24 {
    width: 540px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-4b94-27 {
    background-image: none;
  }
  .u-block-4b94-30 {
    background-image: none;
  }
  .u-block-4b94-34 {
    width: 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .u-block-4b94-21 {
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }
  .u-block-4b94-23 {
    border-style: solid;
    margin-bottom: 60px;
    margin-top: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 575px) {
  .u-block-4b94-2 {
    min-height: 493px;
  }
  .u-block-4b94-24 {
    width: 340px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-4b94-27 {
    background-image: none;
  }
  .u-block-4b94-30 {
    background-image: none;
  }
  .u-block-4b94-34 {
    width: 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .u-block-4b94-21 {
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }
  .u-block-4b94-23 {
    border-style: solid;
    margin-bottom: 60px;
    margin-top: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
